@font-face {
    font-family: 'ubuntu-light';
    src: url('../assets/fonts/Ubuntu-Light') format('truetype');   
}
@font-face {
    font-family: 'ubuntu-regular';
    src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');      
}